<!DOCTYPE html>
<html lang="en">
    <Style>
        h1{
            text-align: center;
        }
    </Style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>King's Blog</h1>
    <hr>
    <a style="text-decoration:none; color:black;" href="#"> 
    <h3>{{posts.title}}</h3>
    <P>{{posts.body}}</P>
    <p>{{posts.created_at}}</p>
    <hr>
</body>
</html>